h1 {
    margin: 0.5rem;
    font-size: 25px;
}

.container {
    width: 80%;
    height: 600px;
    background-color: rgb(25, 29, 52);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

    .header {
        width: 100;
        height: 50px;
        background-color: rgb(43, 48, 77);

    }

    .body-ctn {
        width: 90%;
        margin: 5%;
        height: 500px;
        background-color: black;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .input-ctn {
        width: 100;
        height: 50px;
        background-color: rgb(48, 62, 114);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }
        .input-ctn input {
            flex-grow: 1;
            height:2rem;
            box-sizing: border-box;
        }

        .input-ctn button {
            border: none;
            background-color: green;
            height: 2rem;
            color: white;
            font-weight: bolder;
        }
    ul {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        gap: 0.5rem;
    }
    li {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
        background-color: rgb(43, 48, 77);
        transition: all 0.3s ease-in-out;
        font-size: 16px;
    }

    li:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.05);
        background-color: rgb(59, 66, 105);
    }

    li p {
        flex-grow: 1;
        text-align: left;
        margin: 0;
    }

    li button{
        border: none;
        height:2rem;
        width: 2rem;
        background-size: 90%;
        background-repeat: no-repeat;
        
    }
    
    .add {
        background-color: green;
        background-image: url("../Resources/check.svg");        
    }
    .edit {
        background-color: lightskyblue;
        background-image: url("../Resources/edit.svg");
    }
    .delete {
        background-color:brown;
        background-image: url("../Resources/delete.svg");
    }